extends ./layout/index
block contenido
    main.container.mt-5
        .row 
            .col-md-5 
                img(src="img/nosotros.jpg",alt="nosotros" , class="img-fluid")
            .col-md-7
                h1= pagina
                blockquote  Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste molestiae numquam praesentium animi totam. Saepe obcaecati reprehenderit eveniet optio consequatur minus officiis aliquid ipsam, architecto vel a recusandae voluptatem facere.
                p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Porro dolore quod earum. Similique labore cupiditate doloribus harum esse officia dignissimos doloremque eos, repellendus perferendis optio ipsum, quae cumque voluptatem neque?
                p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae deserunt esse numquam mollitia fugiat consequatur ipsum itaque. Nemo quisquam ducimus earum at error, repellat, non sint, illum quidem sapiente hic.
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg",alt="icono seguridad",class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quaerat eum incidunt aperiam suscipit inventore necessitatibus fugiat velit quidem. Nobis accusamus assumenda expedita sint
                .col-md-4
                    img(src="img/icono_destinos.svg",alt="icono destinos",class="img-fluid mb-4")
                    h2.mb-4 Destinos
                    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quaerat eum incidunt aperiam suscipit inventore necessitatibus fugiat velit quidem. Nobis accusamus assumenda expedita sint
                .col-md-4
                    img(src="img/icono_precios.svg",alt="icono precios",class="img-fluid mb-4")
                    h2.mb-4 Mejores Precios
                    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quaerat eum incidunt aperiam suscipit inventore necessitatibus fugiat velit quidem. Nobis accusamus assumenda expedita sint